.products {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
  }
  .products .card {
    max-width: 200px;
    width: 100%;
    height: 250px;
    box-shadow: 0 0 5px #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  .card img {
    width: 100px;
    height: 100px;
  }
  .card .box {
    margin: 15px 0;
  }
  .card .box h3 {
    text-transform: uppercase;
    overflow: hidden;
    font-size: small;
  }
  
  .card .box h4 {
    color: darkblue;
  }
  .card .box button {
    width: 100%;
    border: none;
    outline: none;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* ******** Cart ******** */
  .cart {
    position: relative;
    border: 1px solid #ccc;
    transform: scaleY(0.98);
  }
  
  .cart img {
    width: 250px;
    height: 200px;
  }
  
  .amount span {
    color: darkgreen;
    padding: 0 20px;
  }
  .amount .count {
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
    background: #555;
    cursor: pointer;
  }
  .delete {
    position: absolute;
    top: 0;
    right: 5px;
    color: darkred;
    cursor: pointer;
    font-weight: 900;
  }
  .total {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .total a {
    background: #333;
    color: white;
    padding: 10px 25px;
  }
  .total h3 {
    margin-right: 50px;
    color: crimson;
  }